body{
    background-color: #003366;
}

@keyframes example {
    
  }

img {
    /* width: 20%;
    height: 150px; */
    /* position: relative;
     right: -100px; */
    /* position: absolute; */
    right: 150px;  
    padding: 10px;
    border-radius: 25px;
    opacity: 50%;
  }

/* img.sign {
    animation-name: example;
    animation-duration: 4s;
} */

li {
    list-style: none;
    
}

ul {
    display: none;
    position: relative; 
    right: 0;
}

section {
    display: inline-block;
}

div#info {
    display: none;
}