body{
    background-color: #003366;
}

img { 
    /* right: 150px;    */
    /* float: center; */
    padding: 10px;
    border-radius: 25px;
    opacity: 100%;
    position: relative;
    font-size: 20px;
    /* display: inline-block; */
   }
 
img:hover {
    opacity: 50%;
}

li {
    list-style: none;
}


section {
    display: none;
    color: white;
    text-align: center;
}

p {
    color: #80ffdf;
}

form#dearBoogie {
    text-align: center;
    color: white;
}

figcaption {
    color: white;
}

div#planets {
    color: white;
    text-align: center;
}

p.planet_info {
    color: royalblue;
    font-size: 20px;
}

button {
    font-size: 18px;
    color: #6600cc;
}

button#submit {
    font-size: 18px;
}


form.dailyForm {
    display: none;
}

div.daily li{
  background-color: #4d4dff;
  overflow: auto;
  white-space: nowrap;
}

div.daily {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}